<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  .content {
    background-image: url("assets/images/mapa.png");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(7, 63, 56);
    color: white;
    font-weight: 600;
    font-size: 26px;
  }

  .data{
    font-size: 14px;
    margin-right: -10;
  }

  .dt-time {
    font-size: 12px;
  }

  .linguage {
    margin: 30px
  }

  .txt-pt {
    color: rgb(13, 49, 13);
    background-color: white;
    padding: 5px;
    font-size: 12px;
    margin: 0px;
    border: 0px;
  }
  .txt-en {
    color: white;
    background-color:rgb(17, 41, 17);
    padding: 5px;
    font-size: 12px;
    margin: 0;
    border: 0;
  }

  .img-bkg{
      position: fixed;
      top: 1;
      left: 0;
      width: 100%;
  }

  .img-menu {
    width: 30px;
  }

  .toolbar span{
    margin: 20px;
  }
  .toolbar img {
    margin: 0 16px;
  }

  .content {
    display: flex;
    margin: 60px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .card {
    position: absolute;
    border-radius: 4px;
    border: 2px solid white;
    background-color: #fafafa;
    margin: 0 8px 16px;
    padding: 16px;
    line-height: 24px;
    opacity: 0.7;
    width: 250px;
  }

  .card-conteiner1 {
    left: 20px;
    top: 120px;
    height: 220px;
    overflow-y: scroll;
  }

  .card-conteiner2 {
    left: 350px;
    top: 120px;
    height: 320px;
    overflow-y: scroll;
  }

  .card-conteiner3 {
    left: 680px;
    top: 120px;
    height: 120px;
    overflow-y: scroll;
  }

  .card-conteiner4 {
    left: 1010px;
    top: 120px;
    height: 320px;
    overflow-y: scroll;
  }

  .card-conteiner5 {
    left: 1350px;
    top: 120px;
    height: 120px;
    overflow-y: scroll;
  }

  .card-conteiner6 {
    left: 20px;
    top: 420px;
    height: 320px;
    overflow-y: scroll;
  }

  .card-conteiner7 {
    left: 350px;
    top: 520px;
    height: 220px;
    overflow-y: scroll;
  }

  .card-conteiner8 {
    left: 1010px;
    top: 520px;
    height: 170px;
    overflow-y: scroll;
  }

  .card-conteiner9 {
    left: 1350px;
    top: 300px;
    height: 240px;
    overflow-y: scroll;
  }

  .card-conteiner10 {
    left: 1275px;
    top: 570px;
    height: 220px;
    width: 420px;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Logo</span>
  <div class="spacer"></div>
  <div class="linguage">
    <button class='txt-pt' type="button">PT</button>
    <button class='txt-en' type="button">EN</button>
  </div>
  <div class="data">
    <p>Última Atualização<p>
    <p class="dt-time">24/04/2021 06:00 pm</p>
  </div>
  <img class="img-menu" src="assets/images/menu2.png">
</div>

<div class="content"  role="main">

  <img class="img-bkg" src="assets/images/mapa.png">

  <div class="card card-conteiner1">
    <region-list [regionCode] = '1'></region-list>
  </div>

  <div class="card card-conteiner2">
    <region-list [regionCode] = '2'></region-list>
  </div>

  <div class="card card-conteiner3">
    <region-list [regionCode] = '3'></region-list>
  </div>

  <div class="card card-conteiner4">
    <region-list [regionCode] = '4'></region-list>
  </div>

  <div class="card card-conteiner5">
    <region-list [regionCode] = '5'></region-list>
  </div>

  <div class="card card-conteiner6">
    <region-list [regionCode] = '6'></region-list>
  </div>

  <div class="card card-conteiner7">
    <region-list [regionCode] = '8'></region-list>
  </div>

  <div class="card card-conteiner8">
    <region-list [regionCode] = '9'></region-list>
  </div>

  <div class="card card-conteiner9">
    <region-list [regionCode] = '10'></region-list>
  </div>

  <div class="card card-conteiner10">
    <bar-chart></bar-chart>
  </div>
</div>
